{% extends "shared/layout.tmpl" %}
{% block title %}Uživatelé ve skupinách{% endblock %}
{% block content %}
    <table class="table table-striped">
        <thead>
            <tr>
                <td>Jméno uživatele</td>
                <td>Jméno skupiny</td>
                <td></td>
            </tr>
        </thead>
        <tbody>
        {% for i in range(data|length) %}
            <tr>
                <td>{{ data[i][1] }} {{ data[i][2] }}</td>
                <td>{{ data[i][3] }}</td>
                <td><a class="btn btn-danger" href="/userGroup_del/{{ data[i][0] }}/{{ data[i][4] }}">Vymazat ze skupiny</a></td>
            </tr>
        {% endfor %}
        </tbody>

    </table>




{% endblock %}