{% extends "shared/layout.tmpl" %}

{% block content %}

    <table class="tftable" border="1">
        <thead>
            <tr>
                <td>Název skupiny &nbsp;</td>
                <td>Přístup od &nbsp;</td>
                <td>Přístup do &nbsp;</td>
                <td></td>
                <td></td>
            </tr>
        </thead>
        <tbody>
        {% for zaznam in data %}
            <tr>
                <td>{{ zaznam[1] }}</td>
                <td>{{ zaznam[2] }}</td>
                <td>{{ zaznam[3] }}</td>
                <td><a href="/group_edit/{{ zaznam[0] }}">Editovat</a></td>
                <td><a href="/group_del/{{ zaznam[0] }}">Vymaž</a></td>
            </tr>
        {% endfor %}
        </tbody>

    </table>




{% endblock %}