{% from "macros/fields.tmpl" import render_input_field, render_password_field, render_checkbox_field, render_submit %}
{% extends "shared/layout.tmpl" %}
{% block title %}Výpis uživatel§{% endblock %}

{% block content %}
<h3>Výpis uzivatelů </h3>
<style type="text/css">
.tftable {font-size:12px;color:#333333;width:100%;border-width: 1px;border-color: #729ea5;border-collapse: collapse;}
.tftable th {font-size:12px;background-color:#acc8cc;border-width: 1px;padding: 8px;border-style: solid;border-color: #729ea5;text-align:left;}
.tftable tr {background-color:#ffffff;}
.tftable td {font-size:12px;border-width: 1px;padding: 8px;border-style: solid;border-color: #729ea5;}
.tftable tr:hover {background-color:#ffff99;}
</style>
<table class="tftable" border="1">
<tr><td>Login</td><td>Celé jméno</td><td>Císlo karty</td><td>Císlo cipu</td><td>Akce</td><td></td></tr>
    {% for n in data %}
        <tr>
            <td>{{ n.username }}</td>
            <td>{{ n.name }} {{ n.second_name }}</td>
            <td>{{ n.card_number }}</td>
            <td>{{ n.chip_number }}</td>
            <td><a href ='/user_edit/{{ n.id}}'>Oprav</a></td>
            <td><a href ='/user_del/{{ n.id}}'>Vymaž</a></td>
        </tr>
    </form>
    {% endfor %}
</table>
    <td><a href ='/user_add/'>Přidej uživatele</a></td>
    {% endblock %}