{% from "macros/fields.tmpl" import render_input_field, render_password_field, render_checkbox_field, render_submit %}
{% extends "shared/layout.tmpl" %}
{% block title %}Výpis uživatelů{% endblock %}

{% block content %}
<h3>Výpis uzivatelů </h3>
<style type="text/css">
.tftable {font-size:12px;color:#333333;width:100%;border-width: 1px;border-color: #729ea5;border-collapse: collapse;}
.tftable th {font-size:12px;background-color:#acc8cc;border-width: 1px;padding: 8px;border-style: solid;border-color: #729ea5;text-align:left;}
.tftable tr {background-color:#ffffff;}
.tftable td {font-size:12px;border-width: 1px;padding: 8px;border-style: solid;border-color: #729ea5;}
.tftable tr:hover {background-color:#ffff99;}
</style>
<table class="table table-striped">
    <thead>
        <tr><td>Login</td><td>Celé jméno</td><td>Číslo karty</td><td>Číslo cipu</td><td></td><td></td></tr>
    </thead>
    <tbody>
    {% for n in data %}
        <tr>
            <td>{{ n.username }}</td>
            <td>{{ n.second_name }} {{ n.name }}</td>
            <td>{{ n.card_number }}</td>
            <td>{{ n.chip_number }}</td>
            <td><a class="btn btn-primary" href ='/user_edit/{{ n.id}}'>Editovat</a></td>
            <td><a class="btn btn-danger" href ='/user_del/{{ n.id}}'>Vymazat</a></td>
        </tr>
    </form>
    {% endfor %}
    </tbody>
</table>
    <td><a class="btn btn-info" href ='/user_add/'>Přidej uživatele</a></td>
    {% endblock %}