{% macro emit_css(bundle) %}
  {% assets bundle %}
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ ASSET_URL }}">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/bootstrap-theme.min.css">
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/npm.js"></script>
    <script src="/static/js/jquery.min.js"></script>

    <script type="text/javascript" src="/static/js/jquery.tablesorter.js"></script>
    <script type="text/javascript" src="/static/js/chili-1.8b.js"></script>

  {% endassets %}
{% endmacro %}



<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}{% endblock %} - Docházka SSPU-Opava</title>
    {{ emit_css("css_all") }}

    {% block styles %}
      {# template-specific styles which are not included in bundle go here #}
    {% endblock %}
  </head>
  <body>
    <script type="text/javascript">
        $(function() {
            $("#tablesorter-demo").tablesorter({sortList:[[0,0],[2,1]], widgets: ['zebra']});
            $("#options").tablesorter({sortList: [[0,0]], headers: { 3:{sorter: false}, 4:{sorter: false}}});
        });
        $(document).ready(function(){
            $( "#nepruhledny" ).delay( 2000 ).slideUp( 300 );
        });
	</script>
    {% include "shared/_navbar.tmpl" %}
    <div class="container">
      {% include "shared/flash.tmpl" %}
      {% block content %}
        {# page content goes here #}
      {% endblock %}
    </div>
    {% block scripts %}
      {# template-specific scripts which are not included in bundle go here #}
    {% endblock %}
  </body>
</html>
